.games{
    padding: 10px;
    margin: 10px;
    border: 2px;
    background-image:url(backround.png);
    background-repeat: no-repeat;
    opacity: 20;
}
.game-item{
    padding: 5;
    margin: 5;
    box-sizing: 300px;
    opacity: .8;
     


    }
 